@-webkit-keyframes slide_down {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

@keyframes slide_down {
  0% {
    height: 0%; }
  100% {
    height: 100%; } }

@-webkit-keyframes slide_right {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes slide_right {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes slide_up {
  0% {
    height: 100%; }
  100% {
    height: 0%; } }

@keyframes slide_up {
  0% {
    height: 100%; }
  100% {
    height: 0%; } }

@-webkit-keyframes slide_left {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes slide_left {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@-webkit-keyframes go_down {
  0% {
    -webkit-transform: scale(0.8) translate(0, 0);
    transform: scale(0.8) translate(0, 0); }
  100% {
    -webkit-transform: scale(0.2) translate(0, 80vh);
    transform: scale(0.2) translate(0, 80vh); } }

@keyframes go_down {
  0% {
    -webkit-transform: scale(0.8) translate(0, 0);
    transform: scale(0.8) translate(0, 0); }
  100% {
    -webkit-transform: scale(0.2) translate(0, 80vh);
    transform: scale(0.2) translate(0, 80vh); } }

@font-face {
  font-family: 'Amatic SC';
  src: url("../fonts/AmaticSC-Regular.woff2") format("woff2"), url("../fonts/AmaticSC-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dancing Script';
  src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Bookman Old Style W01_n4";
  src: url("../fonts/0e223f18-c9c1-4aa7-9d6d-89700b752339.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Bookman Old Style W01";
  src: url("../fonts/0e223f18-c9c1-4aa7-9d6d-89700b752339.eot?#iefix");
  src: url("../fonts/0e223f18-c9c1-4aa7-9d6d-89700b752339.eot?#iefix") format("eot"), url("../fonts/84e1d9b2-4a5e-42f7-b7bb-e9edadb46977.woff2") format("woff2"), url("../fonts/6be90075-e8bd-4719-b8d4-8cc8edb917e6.woff") format("woff"), url("../fonts/04702ede-e18d-47c5-809e-7e049719754f.ttf") format("truetype"), url("../fonts/0312a064-0a16-498e-ab5f-9c874fa0d101.svg#0312a064-0a16-498e-ab5f-9c874fa0d101") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Trade Gothic W01_n3";
  src: url("../fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Trade Gothic W01";
  src: url("../fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");
  src: url("../fonts/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("../fonts/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("../fonts/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("../fonts/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("../fonts/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Trade Gothic W01_n4";
  src: url("../fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Trade Gothic W01";
  src: url("../fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix");
  src: url("../fonts/413d9688-00d4-47c4-bb55-656a0cd396e9.eot?#iefix") format("eot"), url("../fonts/7b555e94-d57a-415e-a36e-1b0c5d3b90d2.woff2") format("woff2"), url("../fonts/c4aef0d4-bfcf-4790-acf5-909881f411e8.woff") format("woff"), url("../fonts/e741f29c-bc18-4343-bff3-db2465a0be3e.ttf") format("truetype"), url("../fonts/853e2a9b-4057-42a5-ad7e-0762cda0b13c.svg#853e2a9b-4057-42a5-ad7e-0762cda0b13c") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Trade Gothic W01_n7";
  src: url("../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Trade Gothic W01";
  src: url("../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
  src: url("../fonts/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"), url("../fonts/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"), url("../fonts/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"), url("../fonts/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"), url("../fonts/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Trade Gothic W01_n8";
  src: url("../fonts/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot"); }

@font-face {
  font-family: "Trade Gothic W01";
  src: url("../fonts/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix");
  src: url("../fonts/bb3aa0a7-2585-4e89-ad82-658fd561751a.eot?#iefix") format("eot"), url("../fonts/7bb1c0cb-e6e9-44ea-ae0c-1984ad7e3339.woff2") format("woff2"), url("../fonts/1454a71d-cdbb-429c-8092-122f4493e0c7.woff") format("woff"), url("../fonts/d5ea405c-2180-4ff0-bd51-3e19fb280be4.ttf") format("truetype"), url("../fonts/70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9.svg#70ac6679-cf48-4a0e-a909-d1e3bb4a1aa9") format("svg");
  font-weight: 800;
  font-style: normal; }

a[href^=tel] {
  color: inherit; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.centert {
  text-align: center; }

.leftt {
  text-align: left; }

.rightt {
  text-align: right; }

.justt {
  text-align: justify; }

.caps {
  text-transform: uppercase !important; }

.trans {
  -webkit-transition: all 0ms ease-in-out 0ms;
  -moz-transition: all 0ms ease-in-out 0ms;
  -o-transition: all 0ms ease-in-out 0ms;
  transition: all 0ms ease-in-out 0ms; }

.notrans {
  -webkit-transition: all 0ms ease-in-out 0ms;
  -moz-transition: all 0ms ease-in-out 0ms;
  -o-transition: all 0ms ease-in-out 0ms;
  transition: all 0ms ease-in-out 0ms; }

.texttransno {
  text-transform: none !important; }

.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.vam {
  vertical-align: middle; }

.centerm {
  margin-left: auto;
  margin-right: auto; }
  .centerm.abs {
    left: 0;
    right: 0; }

body {
  margin: 0;
  font-size: 16px; }

.revlink {
  text-decoration: none; }
  .revlink:hover {
    text-decoration: underline; }

.nun {
  text-decoration: none; }

.nom {
  margin: 0; }

.nop {
  padding: 0; }

.bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .bg.top {
    background-position: center top; }

.clearfix {
  clear: both; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; }

.pure-g, .font0 {
  font-size: 0; }

[class*=pure-u] {
  font-size: 1rem; }

.nocaps {
  text-transform: none !important; }

.ib {
  display: inline-block; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.fixman {
  position: fixed;
  top: 0; }

.oflo {
  overflow: hidden; }

.object_fit {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

img.object_fit, video.object_fit {
  position: absolute;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  -o-object-fit: cover;
  object-fit: cover; }
  img.object_fit.top, video.object_fit.top {
    -o-object-position: 50% 5%;
    object-position: 50% 5%; }
  img.object_fit.bottom, video.object_fit.bottom {
    -o-object-position: 50% 95%;
    object-position: 50% 95%; }

.w100 {
  width: 100%; }

.vtop {
  vertical-align: top; }

.bl {
  display: block; }

.black {
  color: #000000; }

.white {
  color: #ffffff; }

.tan {
  color: #FFE8B5; }

.or2 {
  color: #FFB53C; }

.or1 {
  color: #DB5F26; }

.green {
  color: #62785F; }

.rust {
  color: #71220D; }

.block.white {
  background-color: #ffffff; }

.block.black {
  background-color: #000000; }

.block.tan {
  background-color: #FFE8B5; }

.block.or2 {
  background-color: #FFB53C; }

.block.or1 {
  background-color: #DB5F26; }

.block.green {
  background-color: #62785F; }

.block.rust {
  background-color: #71220D; }

.block.transparent {
  background-color: transparent; }

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@media screen and (min-width: 1px) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-sm-5-12,
  .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-sm-7-12,
  .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-sm-5-8,
  .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-sm-2-3,
  .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-sm-3-4,
  .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-sm-5-6,
  .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-sm-7-8,
  .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-5-5,
  .pure-u-sm-24-24 {
    width: 100%; } }

@media screen and (min-width: 641px) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-3,
  .pure-u-md-2-3,
  .pure-u-md-1-4,
  .pure-u-md-3-4,
  .pure-u-md-1-5,
  .pure-u-md-2-5,
  .pure-u-md-3-5,
  .pure-u-md-4-5,
  .pure-u-md-5-5,
  .pure-u-md-1-6,
  .pure-u-md-5-6,
  .pure-u-md-1-8,
  .pure-u-md-3-8,
  .pure-u-md-5-8,
  .pure-u-md-7-8,
  .pure-u-md-1-12,
  .pure-u-md-5-12,
  .pure-u-md-7-12,
  .pure-u-md-11-12,
  .pure-u-md-1-24,
  .pure-u-md-2-24,
  .pure-u-md-3-24,
  .pure-u-md-4-24,
  .pure-u-md-5-24,
  .pure-u-md-6-24,
  .pure-u-md-7-24,
  .pure-u-md-8-24,
  .pure-u-md-9-24,
  .pure-u-md-10-24,
  .pure-u-md-11-24,
  .pure-u-md-12-24,
  .pure-u-md-13-24,
  .pure-u-md-14-24,
  .pure-u-md-15-24,
  .pure-u-md-16-24,
  .pure-u-md-17-24,
  .pure-u-md-18-24,
  .pure-u-md-19-24,
  .pure-u-md-20-24,
  .pure-u-md-21-24,
  .pure-u-md-22-24,
  .pure-u-md-23-24,
  .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-md-1-12,
  .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-md-1-8,
  .pure-u-md-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-md-1-6,
  .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-md-1-4,
  .pure-u-md-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-md-1-3,
  .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-md-3-8,
  .pure-u-md-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-md-5-12,
  .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-md-1-2,
  .pure-u-md-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-md-7-12,
  .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-md-5-8,
  .pure-u-md-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-md-2-3,
  .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-md-3-4,
  .pure-u-md-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-md-5-6,
  .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-md-7-8,
  .pure-u-md-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-md-11-12,
  .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-5-5,
  .pure-u-md-24-24 {
    width: 100%; } }

@media screen and (min-width: 901px) {
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-3,
  .pure-u-lg-2-3,
  .pure-u-lg-1-4,
  .pure-u-lg-3-4,
  .pure-u-lg-1-5,
  .pure-u-lg-2-5,
  .pure-u-lg-3-5,
  .pure-u-lg-4-5,
  .pure-u-lg-5-5,
  .pure-u-lg-1-6,
  .pure-u-lg-5-6,
  .pure-u-lg-1-8,
  .pure-u-lg-3-8,
  .pure-u-lg-5-8,
  .pure-u-lg-7-8,
  .pure-u-lg-1-12,
  .pure-u-lg-5-12,
  .pure-u-lg-7-12,
  .pure-u-lg-11-12,
  .pure-u-lg-1-24,
  .pure-u-lg-2-24,
  .pure-u-lg-3-24,
  .pure-u-lg-4-24,
  .pure-u-lg-5-24,
  .pure-u-lg-6-24,
  .pure-u-lg-7-24,
  .pure-u-lg-8-24,
  .pure-u-lg-9-24,
  .pure-u-lg-10-24,
  .pure-u-lg-11-24,
  .pure-u-lg-12-24,
  .pure-u-lg-13-24,
  .pure-u-lg-14-24,
  .pure-u-lg-15-24,
  .pure-u-lg-16-24,
  .pure-u-lg-17-24,
  .pure-u-lg-18-24,
  .pure-u-lg-19-24,
  .pure-u-lg-20-24,
  .pure-u-lg-21-24,
  .pure-u-lg-22-24,
  .pure-u-lg-23-24,
  .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-lg-1-12,
  .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-lg-1-8,
  .pure-u-lg-3-24 {
    width: 12.5000%;
    *width: 12.4690%; }
  .pure-u-lg-1-6,
  .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.9690%; }
  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-lg-1-4,
  .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.9690%; }
  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-lg-1-3,
  .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-lg-3-8,
  .pure-u-lg-9-24 {
    width: 37.5000%;
    *width: 37.4690%; }
  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.9690%; }
  .pure-u-lg-5-12,
  .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-lg-1-2,
  .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.9690%; }
  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-lg-7-12,
  .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.9690%; }
  .pure-u-lg-5-8,
  .pure-u-lg-15-24 {
    width: 62.5000%;
    *width: 62.4690%; }
  .pure-u-lg-2-3,
  .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-lg-3-4,
  .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.9690%; }
  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.9690%; }
  .pure-u-lg-5-6,
  .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-lg-7-8,
  .pure-u-lg-21-24 {
    width: 87.5000%;
    *width: 87.4690%; }
  .pure-u-lg-11-12,
  .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-5-5,
  .pure-u-lg-24-24 {
    width: 100%; } }

@media only screen and (min-width: 1px) {
  .lines {
    background: #000000; }
    .lines::before, .lines::after {
      background: #000000; }
  .lines-button {
    display: inline-block;
    padding: 0px 0 10px 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3.2px; }
    .lines-button:hover {
      opacity: 1; }
      .lines-button:hover .lines {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); }
        .lines-button:hover .lines::before {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
        .lines-button:hover .lines::after {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
    .lines-button:active {
      -webkit-transition: 0;
      -o-transition: 0;
      transition: 0; }
  .lines {
    display: inline-block;
    width: 32px;
    height: 3.2px;
    border-radius: 3.2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    /*create the upper and lower lines as pseudo-elements of the middle line*/ }
    .lines:before, .lines:after {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      display: inline-block;
      width: 32px;
      height: 3.2px;
      border-radius: 3.2px;
      transition: 0.3s;
      position: absolute;
      left: 0;
      content: '';
      -webkit-transform-origin: 2.28571px center;
      -ms-transform-origin: 2.28571px center;
      transform-origin: 2.28571px center; }
    .lines:before {
      top: 8px; }
    .lines:after {
      top: -8px; }
  .lines-button:hover {
    opacity: 1;
    /*.lines {
	    &:before { top: $button-size/3; }
	    &:after { top: -$button-size/3; }
	  }*/ }
  .lines-button.x2 .lines {
    -webkit-transition: all .2s 0s ease;
    -o-transition: all .2s 0s ease;
    transition: all .2s 0s ease; }
    .lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transition: all .2s 0s ease;
      -o-transition: all .2s 0s ease;
      transition: all .2s 0s ease; }
  .lines-button.x2 .lines.close {
    -webkit-transition: all .2s 0s ease;
    -o-transition: all .2s 0s ease;
    transition: all .2s 0s ease;
    background: transparent; }
    .lines-button.x2 .lines.close:before, .lines-button.x2 .lines.close:after {
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      top: 0;
      width: 32px; }
    .lines-button.x2 .lines.close:before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      -moz-transform: rotate3d(0, 0, 1, 45deg);
      -o-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .lines-button.x2 .lines.close:after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      -moz-transform: rotate3d(0, 0, 1, -45deg);
      -o-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); } }

@media only screen and (min-width: 1px) {
  #res {
    z-index: 1;
    position: absolute; }
  .spacer5 {
    height: 5px; }
  .spacer20 {
    height: 20px; }
  .spacer30 {
    height: 30px; }
  .spacer50 {
    height: 50px; }
  .spacer100r {
    height: 50px; }
  .layer0 {
    z-index: 100; }
  .layer1 {
    z-index: 110; }
  .layer2 {
    z-index: 120; }
  .layer3 {
    z-index: 130; }
  .layer4 {
    z-index: 140; }
  .layer5 {
    z-index: 150; }
  .layer6 {
    z-index: 160; }
  .sec_nav, h4, .h4 {
    font-family: "yrsabold", serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase; }
  .gutters_r1 {
    margin-left: -4vw; }
    .gutters_r1 > [class*=pure-u], .gutters_r1 .gform_fields > [class*=pure-u] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 4vw; }
  .gutters_1 {
    margin-left: -20px; }
    .gutters_1 > [class*=pure-u], .gutters_1 .gform_fields > [class*=pure-u] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 20px; }
  h1, .h1 {
    font-family: 'Montserrat';
    font-size: 9vw;
    font-weight: normal;
    line-height: 0.9em;
    letter-spacing: 0.07em;
    text-transform: uppercase; }
  h2, .h2 {
    font-family: 'Dancing Script';
    font-size: 6.5vw;
    font-weight: 400;
    line-height: 1.45em;
    letter-spacing: 0.02em;
    text-transform: none;
    margin: 0.5em 0; }
  h3, .h3 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 3vw;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    text-transform: none;
    margin: 0.5em 0; }
  h4, .h4 {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 5vw;
    line-height: 1.45em;
    letter-spacing: 0.02em;
    text-transform: none; }
  h5, .h5 {
    font-family: "Trade Gothic W01", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67em;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
  h6, .h6 {
    font-family: "Trade Gothic W01", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.25em;
    letter-spacing: 0.01em;
    text-transform: none; }
  p, .p1 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 1.4em;
    text-transform: none; }
  .soc {
    font-size: 50px; }
  .button_style {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67em;
    letter-spacing: 0.15em;
    text-transform: uppercase; }
  .button {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 300px;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    padding: 0rem 1rem 0rem 1rem;
    position: relative;
    overflow: hidden;
    min-width: 8em; }
    .button.nol {
      margin-left: -1em; }
    .button:active {
      -webkit-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent; }
    .button:hover {
      -webkit-transition: all 150ms ease-in-out 0ms;
      -moz-transition: all 150ms ease-in-out 0ms;
      -o-transition: all 150ms ease-in-out 0ms;
      transition: all 150ms ease-in-out 0ms;
      background-color: #DB5F26; }
      .button:hover span {
        color: #FFE8B5; }
    .button span {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 24px;
      line-height: 1.67em;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      position: relative;
      z-index: 110;
      padding-top: 0.05em;
      padding-bottom: 0.05em;
      display: block; }
    .button.bng span {
      border-top: 4px solid #000000;
      color: #4d4d4d; }
    .button:hover::before {
      -webkit-transform: translate(-40%, 40%);
      -ms-transform: translate(-40%, 40%);
      transform: translate(-40%, 40%); }
    .button.nop {
      padding: 0; }
  .rtl > .nol {
    margin-left: -1em;
    margin-right: 0; }
  .ulay {
    opacity: 0.5; }
  .ulay2 {
    opacity: 0.2; }
  .lulay {
    opacity: 0.96; }
  .lpane, .rpane {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 0;
    height: 100vh; }
  .lpane {
    top: 0;
    left: 0; }
  .rpane {
    top: 0;
    right: 0; }
  .rpads {
    padding: 0 4.8vw; }
  .container {
    max-width: 1000px;
    padding: 0 20px; }
    .container.nop {
      padding: 0; }
  .babycon {
    max-width: 600px; }
  .padme {
    padding-left: 20px;
    padding-right: 20px; }
  .vpadme {
    padding-top: 20px;
    padding-bottom: 20px; }
  .vhead {
    padding-top: 40px;
    width: 300px; }
  .ltc, .rtc {
    text-align: center; }
  .rtl {
    text-align: left; }
  .ctl {
    text-align: left; }
  .logo {
    float: left; }
  .lines-button {
    float: right; }
  .img {
    width: 100%;
    height: auto; }
  .ch_spacer {
    height: 200px; }
  .vh_spacer, .hero-video, .pane {
    height: 100vh; }
  .pane75 {
    height: 75vh; }
  .clearish:after {
    content: "";
    display: block; }
  .hero-video {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden; }
  .hero-video video {
    min-height: 100vh;
    width: auto;
    min-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  header {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1999; }
    header .spacer {
      height: 50px; }
  /* =WordPress Core
	-------------------------------------------------------------- */
  .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center; }
  .wp-caption.alignnone {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }
  .columned_3 {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-fill: auto;
    column-fill: auto;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; }
  .omnom p {
    margin: 0; }
  .map {
    height: 380px; }
  .head {
    height: 44vw;
    max-height: 80vh; }
  .rule2::before, .rule2::after {
    content: "";
    height: 0.06em;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.5; }
  .rule2::before {
    top: 0.05em; }
  .rule2::after {
    bottom: 0.05em; }
  .rule2.rust::before, .rule2.rust::after {
    background-color: #71220D; }
  .rule2.tan::before, .rule2.tan::after {
    background-color: #FFE8B5; }
  .rule2.under {
    margin-bottom: 1em; }
    .rule2.under::before {
      height: 0; }
    .rule2.under::after {
      bottom: -0.5em;
      max-width: 70%; }
  .bottomed {
    position: relative;
    top: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .rsvp_wrap {
    display: none; }
  nav ul, nav li {
    margin: 0;
    padding: 0; }
  nav ul {
    display: block;
    font-size: 0;
    text-align: center; }
  nav li {
    display: inline-block;
    position: relative; }
  nav a {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    text-transform: none;
    margin: 0.5em 0;
    margin: 0;
    display: table;
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    padding: 0 0.75em; }
  nav .inner {
    display: table-cell;
    vertical-align: middle; }
  header, nav a {
    height: 60px; }
  .padded_block {
    padding-top: 50px;
    padding-bottom: 50px; }
  .skew {
    -webkit-transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    transform: skew(0, -2deg); }
    .skew.rule2::before, .skew.rule2::after {
      -webkit-transform: skew(0, 2deg);
      -ms-transform: skew(0, 2deg);
      transform: skew(0, 2deg); }
    .skew.rule2::before {
      top: 0.1em; }
    .skew.rule2::after {
      bottom: 0.3em; }
  [href="#rsvp"] {
    display: none; } }

@media screen and (max-width: 640px) {
  .head {
    min-height: 70vh; }
  h1, .h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: normal;
    line-height: 0.9em;
    letter-spacing: 0.07em;
    text-transform: uppercase; }
  h2, .h2 {
    font-family: 'Dancing Script';
    font-size: 36px;
    font-weight: 400;
    line-height: 1.45em;
    letter-spacing: 0.02em;
    text-transform: none;
    margin: 0.5em 0; }
  h3, .h3 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    text-transform: none;
    margin: 0.5em 0; }
  h4, .h4 {
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 26px;
    line-height: 1.45em;
    letter-spacing: 0.02em;
    text-transform: none; }
  h5, .h5 {
    font-family: "Trade Gothic W01", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.67em;
    letter-spacing: 0.125em;
    text-transform: uppercase; }
  h6, .h6 {
    font-family: "Trade Gothic W01", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.25em;
    letter-spacing: 0.01em;
    text-transform: none; }
  p, .p1, .gform_body .gfield label {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4em;
    text-transform: none; }
  nav a {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    text-transform: none;
    margin: 0.5em 0; }
  .button span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    min-width: 8em; }
  .hide_on_mobile {
    display: none; }
  .wide-stack {
    height: 59vw; }
  .tall-stack {
    height: 92vw; }
  .wide-row-1 {
    height: 54vw; }
  .wide-row-2 {
    height: 72vw; }
  [class*="wp-image"] {
    width: 100%;
    height: auto; } }

@media screen and (min-width: 641px) {
  #res {
    z-index: 2; }
  .gutters_r1 {
    margin-left: -5vw; }
    .gutters_r1 > [class*=pure-u], .gutters_r1 .gform_fields > [class*=pure-u] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 5vw; }
  .gutters_r2 {
    margin-left: -2.5vw; }
    .gutters_r2 > [class*=pure-u], .gutters_r2 .gform_fields > [class*=pure-u] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 2.5vw; }
  .spacer100r {
    height: 100px; }
  .columned_3 {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px; }
  .w100 {
    width: 100%; }
  .vrule {
    opacity: 0.5;
    height: 100%;
    width: 2px; }
    .vrule.lrule {
      left: 0; }
    .vrule.rrule {
      right: 0; }
    .vrule.mrule {
      left: 0;
      right: 0;
      margin: 0 auto; }
  .wide-stack {
    height: 24vw; }
  .tall-stack {
    height: 38vw; }
  .wide-row-1 {
    height: 31vw; }
  .wide-row-2 {
    height: 31vw; }
  nav .inner .fa-2x {
    font-size: 1.4em; }
  .alignnone {
    margin: 5px 20px 20px 0; }
  .aligncenter,
  div.aligncenter {
    display: block;
    margin: 5px auto 5px auto; }
  .alignright {
    float: right;
    margin: 5px 0 20px 20px; }
  .alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  a img.alignright {
    float: right;
    margin: 5px 0 20px 20px; }
  a img.alignnone {
    margin: 5px 20px 20px 0; }
  a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 901px) {
  #res {
    z-index: 3; }
  .gutters_r1 {
    margin-left: -45px; }
    .gutters_r1 > [class*=pure-u], .gutters_r1 .gform_fields > [class*=pure-u] {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 45px; }
  .ltc {
    text-align: left; }
  .rtc {
    text-align: right; }
  .rtl {
    text-align: right; }
  .ctl {
    text-align: center; }
  .ctr {
    text-align: center; }
  .rtl > .nol {
    margin-left: 0em;
    margin-right: -1.4em; }
  .padme {
    padding-left: 50px;
    padding-right: 50px; }
    .padme.smp {
      padding-left: 20px;
      padding-right: 20px; }
  .container {
    max-width: 1600px;
    padding: 0 50px; }
    .container.lil {
      max-width: 1000px; }
  .only_mobile {
    display: none; }
  h3, .h3 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2em;
    letter-spacing: 0.06em;
    text-transform: none;
    margin: 0.5em 0; }
  p, .p1, ul {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4em;
    text-transform: none; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles here. i know. */ }
